<!-- <div class="row"> -->
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
          <h3>Search</h3>
          <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -15px; " />
      </div>
    </div>

    <div id="center" class="container col-md-12">
      <div id="item1" class="col-md-12">
        <div class="col-md-12">
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Owner</label>
              <div class="col-md-3 input-group">
                <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" >Select Owner</select>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Project Manager</label>
              <div class="col-md-3 input-group">
                  <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" >Select Project Manager</select>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Department</label>
              <div class="col-md-3 input-group">
                  <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" >Select Department</select>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Project Category</label>
              <div class="col-md-3 input-group">
                  <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" >Select Project Category</select>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Status</label>
              <div class="col-md-3 input-group">
                  <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" >Select Status</select>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Start Date</label>
              <div class="col-md-3 input-group">
                <div class="input-group">
                    <input type="date" maxlength="100" class="form-control input-sm" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="input-group">
                    <input type="date" maxlength="100" class="form-control input-sm" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">End Date</label>
              <div class="col-md-3 input-group">
                <div id="calendar" class="input-group">
                    <input type="date" maxlength="100" class="form-control input-sm" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div id="calendar" class="input-group">
                    <input type="date" maxlength="100" class="form-control input-sm" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="boditems" class="col-md-12">
              <div id="searchbtn" class="col-md-5 input-group">
                <a (click)="search()" class="btn btn-primary btn-sm">Search&nbsp;<i class="fa fa-search"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<!-- </div> -->