/* #center{
    padding-left: 450px 
} */
/* @media screen and (min-width: 50vw){
    #center{
        padding-left: none;
    }
} */
/* #item1{
    grid-area: b;
}  */
/* ul{
    margin: auto;
    min-width: 220px
} */
.input-group{
    min-width: 250px;
}

#searchbtn{
    margin-top: 3px;
    /* margin-right: 25%; */
}
#boditems{
    margin-bottom: 5px;
    /* min-width: 300px; */
}
/* #calendar{
    min-width: 250px;
} */
#div{
    border: 1px black solid;
}
#table{
    margin-right: 10px;
}
/* #divider{
    border-left: solid 1px #2196F3;
} */