<div class="row">
  <div class="col-md-12">
      <h2>Department</h2>
  </div>
</div>
<div class="col-md-12">
	<!--return button-->
	<div class="row">
		<a href="#" id="btnGoBack" (click)="depBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#dep_default"><i class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
		<a (click)="saveDepartment()" class="btn btn-primary btn-sm" ><i class="fa fa-save"></i>&nbsp;Save</a>
	</div>
	<br />
	<!--header-->
	<div class="row">
		<!--for example you are in adding mode, span.add should be displayed while span.edit will be hidden-->
		<h4>
		  <span class="add" ><i class="fa fa-plus"></i>&nbsp;New Record</span>
		  <span class="edit"><i class="fa fa-edit"></i>&nbsp;Edit Details</span>
		</h4>
	</div>
	<br />
	<!--fields-->
	<div class="row">
		<label class="col-md-2 control-label">Department Name</label>
		<div class="col-md-4">
			<input type="text" maxlength="100" class="form-control input-sm" />
		</div>
	</div>
	<br />
</div>