<div>
  <div class="col-md-12">
    <!--tool bar-->
    <div class="row">
      <a (click)="depDetails(null)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;New Record</a>
    </div>
    <br />
    <!--table-->
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover input-sm">
          <thead>
            <tr>
              <th class="col-md-11">Name</th>
              <th class="col-md-1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of departments">
              <td><a (click)="depDetails(department)">{{department.Department}}</a></td>
              <td>
                <div class="btn-group">
                  <a (click)="depDetails(department)" class="btn btn-default btn-xs" title="Edit"><i class="fa fa-edit"></i></a>
                  <a (click)="depDelete(department)" class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--pagination-->
    <div class="row">
      <div class="pull-right">
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>  -->
      </div>
    </div>
  </div>
</div>
