<!-- <div class="row"> -->
  <div class="col-md-12">
    <div class="row col-md-12">
          <h3>Main</h3>
          <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -45px; " />
    </div>

    <div class="col-md-12">
      <div id="item1" class="col-md-4">
        <div class="col-md-12">
              <div id="boditems" class="row">
                <div class="col-md-12">
                  <label class="col-md-4 control-label">Department</label>
                  <div class="col-md-8 input-group">
                    <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                  </div>
                </div>
              </div>
                <div id="boditems" class="row">
                  <div class="col-md-12">
                    <label class="col-md-4 control-label">Project Category</label>
                    <div class="col-md-8 input-group">
                        <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                    </div>
                  </div>
                </div>
                <div id="boditems" class="row">
                  <div class="col-md-12">
                    <label class="col-md-4 control-label">Project Number</label>
                    <div class="col-md-8 input-group">
                        <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                    </div>
                  </div>
                </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Customer Map Code</label>
                      <div class="col-md-8 input-group">
                          <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Customer Centric Score</label>
                      <div class="col-md-8 input-group">
                          <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid"></select>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Status</label>
                      <div class="col-md-8 input-group">
                          <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" ></select>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Project Sponsor</label>
                      <div class="col-md-8 input-group">
                          <select multiple type="text" class="form-control ng-untouched ng-pristine ng-valid" ></select>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Project Target Date</label>
                      <div class="col-md-8 input-group">
                          <input type="date" maxlength="100" class="form-control input-sm" />
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Tasks Completed</label>
                      <div class="col-md-8 input-group">
                          <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Tasks in progress</label>
                      <div class="col-md-8 input-group">
                          <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Upcoming Tasks</label>
                      <div class="col-md-8 input-group">
                          <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                      </div>
                    </div>
                  </div>
                <div id="boditems" class="row">
                    <div class="col-md-12">
                      <label class="col-md-4 control-label">Date Added</label>
                      <div class="col-md-8 input-group">
                          <input type="date" maxlength="100" class="form-control input-sm" />
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                  </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="col-md-12">
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-3 control-label">Project Overview</label>
              <div class="col-md-9 input-group">
                  <textarea id="textarea" type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"></textarea>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-6">
              <label class="col-md-4 control-label">Project Manager</label>
              <div class="col-md-8 input-group">
                  <select multiple type="text" class="form-control ng-untouched ng-pristine ng-valid" ></select>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4 control-label">Project Stakeholder</label>
              <div class="col-md-8 input-group">
                  <select multiple type="text"  class="form-control ng-untouched ng-pristine ng-valid" ></select>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-6">
              <label class="col-md-4 control-label">Start Date</label>
              <div class="col-md-8 input-group">
                  <input type="date" maxlength="100" class="form-control input-sm" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-6">
              <label class="col-md-4 control-label">End Date</label>
              <div class="col-md-8 input-group">
                  <input type="date" maxlength="100" class="form-control input-sm" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4 control-label">Previous End Date</label>
              <div class="col-md-8 input-group">
                  <input type="date" maxlength="100" class="form-control input-sm" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-6">
              <label class="col-md-5 control-label">End Date Changed</label>
              <div class="col-md-1 input-group">
                  <input type="radio" maxlength="100" class="ng-untouched ng-pristine ng-valid" />
              </div>
            </div>
          </div>
          <div id="boditems" class="row">
            <div class="col-md-12">
              <label class="col-md-2 control-label">Comments</label>
              <div class="col-md-10">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                      <thead>
                        <tr>
                          <th>Date Created</th>
                          <th>Full Name</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div id="boditems" class="col-md-12">
              <div class="col-md-12 input-group">
                <a id="searchbtn" (click)="save()" class="btn btn-primary btn-sm pull-right">Save&nbsp;<i class="fa fa-save"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- </div> -->
</div>