<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h3>Maintenance</h3>
            <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -15px; " />
        </div>
    </div>
    <div class="row">
        <!--nav pills-->
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <!-- <li role="presentation" ><a href="#menu1" data-toggle="tab"><i class="fa fa-table"></i>&nbsp;Main Table</a></li> -->
                <li [routerLinkActive]="['active']" role="presentation"><a [routerLink]="['./', {outlets: {'mroute': ['Departments']}}]"><i class="fa fa-location-arrow"></i>&nbsp;Department</a></li>
                <li [routerLinkActive]="['active']" role="presentation"><a [routerLink]="['./', {outlets: {'mroute': ['ProjectCategories']}}]"><i class="fa fa-institution"></i>&nbsp;Project Category</a></li>
                <li [routerLinkActive]="['active']" role="presentation"><a [routerLink]="['./', {outlets: {'mroute': ['CustomerMaps']}}]"><i class="fa fa-cogs"></i>&nbsp;Customer Map Code</a></li>
                <li [routerLinkActive]="['active']" role="presentation"><a [routerLink]="['./', {outlets: {'mroute': ['CustomerCentrics']}}]"><i class="fa fa-user"></i>&nbsp;Customer Centric Score</a></li>
                <li [routerLinkActive]="['active']" role="presentation"><a [routerLink]="['./', {outlets: {'mroute': ['Contacts']}}]"><i class="fa fa-cubes"></i>&nbsp;Contacts</a></li>
            </ul>
            <br />
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <router-outlet name="mroute"></router-outlet>
            </div>
        </div>
    </div>
</div>
