<div class="col-md-12">
  <div class="row col-md-12">
    <h3>Main</h3>
    <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -45px; " />
  </div>
  <label style="color: red">Currently in progress UI Refining.</label>

  <div class="row col-md-12">
    <div class="col-md-3">
      <div id="buttongroup" class="input-group">
        <a href="#" id="btnGoBack" (click)="mainBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#dep_default"><i
            class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
      </div>
    </div>
  </div>
  <div class="row col-md-12">
    <br />
    <div class="row col-md-6">
      test
    </div>
    <div class="row col-md-6">
      <div class="row col-md-12">
        <label class="control-label">Tasks</label>
      </div>
      <div class="row col-md-12">
        <div class="col-md-2"><label class="control-label">
            Search:</label>
        </div>
        <div class="col-md-10">
          <input id="textarea" type="text" class="form-control" placeholder="Search Tasks" />
        </div>
      </div>
      <div class="row col-md-12">
        <br />
      </div>
      <div id="table" class="row col-md-12">
        <table class="table table-bordered table-striped table-hover input-sm">
          <thead>
            <tr>
              <th class="col-md-6">Task Description</th>
              <th class="col-md-2">Status</th>
              <th class="col-md-4">Actions</th>
            </tr>
            <!-- style="width: 60%;"> -->
          </thead>
          <tbody>
            <tr>
              <td>Task 1</td>
              <td>In Progress</td>
              <td align="center">
                <select>
                  <option>
                    Active
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Task 2</td>
              <td>Completed</td>
              <td align="center">
                <select>
                  <option>
                    Active
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Task 2 additional</td>
              <td>Upcoming</td>
              <td align="center">
                <select>
                  <option>
                    Active
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- </div> -->
  </div>
