<div id="dep_default" class="tab-pane fade in active">
	<div class="col-md-12">
		<!--tool bar-->
		<div class="row">
			<a href="#" (click)="cusmapDetails()" class="btn btn-primary btn-sm" data-toggle="tab" data-target="#dep_editor"><i class="fa fa-plus"></i>&nbsp;New Record</a>
		</div>
		<br />
		<!--table-->
		<div class="row">
			<div class="table-responsive">
			
				<table class="table table-bordered table-striped table-hover input-sm">
					<thead>
						<tr>
							<th>Customer Map Code</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let mc of mapCodes">
							<td><a (click)="cusmapDetails(mc)">{{mc.MapCode}}</a></td>						
							<td>
								<div class="btn-group">
									<a (click)="cusmapDetails(mc)"  class="btn btn-default btn-xs" data-toggle="tab" data-target="#dep_editor" title="Edit"><i class="fa fa-edit"></i></a>
									<a (click)="cusmapDelete(mc)" class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div *ngIf="departments.length==0 && loading==false"> -->
				<!-- No Departments Found -->
			<!-- </div> -->
			<!-- <div *ngIf="departments.length==0 && loading==true"> -->
				<!-- Getting Departments -->
				<!-- <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span> -->
			<!-- </div> -->
		</div>
		<!--pagination-->
		<div class="row">
			<div class="pull-right">
				<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>  -->
			</div>
		</div>
	</div>
</div>