<div id="dep_default" class="tab-pane fade in active">
	<div class="col-md-12">
		<!--tool bar-->
		<div class="row">
			<a href="#" (click)="conDetails()" class="btn btn-primary btn-sm" data-toggle="tab" data-target="#dep_editor"><i class="fa fa-plus"></i>&nbsp;New Record</a>
		</div>
		<br />
		<!--table-->
		<div class="row">
			<div class="table-responsive">
			
				<table class="table table-bordered table-striped table-hover input-sm">
					<thead>
						<tr>
							<th class="col-md-6">First Name</th>
							<th class="col-md-5">Last Name</th>
							<th class="col-md-1">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let contact of contacts">
							<td><a (click)="conDetails(contact)">{{contact.ContactName}}</a></td>
							<td>{{contact.LastName}}</td>
							<td>
								<div  class="btn-group">
									<a (click)="conDetails(contact)"  class="btn btn-default btn-xs" data-toggle="tab" data-target="#dep_editor" title="Edit"><i class="fa fa-edit"></i></a>
									<a (click)="conDelete(contact)" class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div *ngIf="departments.length==0 && loading==false"> -->
				<!-- No Departments Found -->
			<!-- </div> -->
			<!-- <div *ngIf="departments.length==0 && loading==true"> -->
				<!-- Getting Departments -->
				<!-- <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span> -->
			<!-- </div> -->
		</div>
		<!--pagination-->
		<div class="row">
			<div class="pull-right">
				<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>  -->
			</div>
		</div>
	</div>
</div>

<p-table [value]="contacts" >
    <ng-template pTemplate="header" let-columns>
		<tr>
			<th class="col-md-6">First Name</th>
			<th class="col-md-5">Last Name</th>
			<th class="col-md-1">Actions</th>
		</tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="contacts">
        <tr>
            <td *ngFor="let col of contacts">
            {{col.field}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of contacts">
            {{col.header}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        There are {{contacts?.length}} cars
    </ng-template>
</p-table>