<div class="col-md-12">
  <div class="row col-md-12">
      <h3>Main</h3>
      <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -45px; " />
  </div>

  <div class="row col-md-12">
    <div class="col-md-3">
      <div id="buttongroup" class="input-group">
        <a href="#" id="btnGoBack" (click)="mainBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#dep_default"><i class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
        <a id="searchbtn" (click)="save()" class="btn btn-primary btn-sm">Save&nbsp;<i class="fa fa-save"></i></a>
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-1">
      <a id="searchbtn" (click)="goToTask()" class="btn btn-default btn-sm"><i class="fa fa-tasks"></i>&nbsp;Tasks</a>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-2"></div>
      <div id="items1qwertt" class="col-md-10">
        <div class="col-md-12">
          <div class="row col-md-12">
            <div id="item1"  class="row col-md-12 ">
              <label class="control-label">Project Overview</label>
              <textarea id="textarea" type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"></textarea>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-6">
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Department</label>
                <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid">
                  <option selected disabled value="0">Select Department</option>
                  <option *ngFor="let dept of departments">{{dept.Department}}</option>
                </select>
              </div>
              <div id="boditems" class="row col-md-12">
                <label class="control-label">Project Category</label>
                <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid">
                  <option selected disabled value="0">Select Category</option>
                  <option *ngFor="let cat of categories">{{cat.Category}}</option>
                </select>
              </div>
              <div id="boditems" class="row col-md-12">
                <label class="control-label">Project Number</label>
                <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder=""/>
              </div>
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Customer MapCode</label>
                <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input">
              </div>
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Customer Centric Score</label>
                <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid">
                  <option selected disabled value="0">Select Score</option>
                  <option *ngFor="let cs of centricScores">{{cs.Score}}</option>                  
                </select>
              </div>
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Status</label>
                <input type="text" class="form-control input-sm" disabled>
              </div>
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Project Target Date</label>
                <div class="input-group">
                  <input type="date" maxlength="100" class="form-control input-sm" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Date Added</label>
                <input type="text" class="form-control input-sm" disabled>
              </div>
              <div id="boditems" class="row col-md-12">
                <label class="control-label">Project Sponsor</label>
                <!-- <select type="text" class="form-control ng-untouched ng-pristine ng-valid" ></select> -->
                <ng-select
                    [multiple]="true"
                    [active]="active_tags"
                    [allowClear]="true"
                    [items]="items"
                    (data)="refreshValue($event)"
                    placeholder="No Associate selected">
                </ng-select>
              </div>
              <div class="row col-md-12">
                <label class="control-label">Project Manager</label>
                <ng-select
                    [multiple]="true"
                    [allowClear]="true"
                    [items]="items"
                    (data)="refreshValue($event)"
                    placeholder="No Associate selected">
                </ng-select>
              </div>
              <div class="row col-md-12">
                <label class="control-label">Project Stakeholder</label>
                <!-- <input /> -->
                <!-- {{WDEmployees | json}} -->
                <ng-select
                    (input)="onSearchChange($event.target.value)"
                    [multiple]="true"
                    [active]="active_tags"
                    [allowClear]="true"
                    [items]="items"
                    (data)="refreshValue($event)"
                    placeholder="No Associate selected">
                </ng-select>
              </div>
              <div id="boditems" class="row col-md-12 ">
                <label class="control-label">Start Date</label>
                <div class="input-group">
                  <input type="date" maxlength="100" class="form-control input-sm" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <div id="boditems" class="row col-md-12">
                <label class="control-label">End Date</label>
                <div class="input-group">
                  <input type="date" maxlength="100" class="form-control input-sm" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <div class="row col-md-12 ">
                <label class="control-label">End Date Changed</label>
                <input type="text" disabled class="form-control input-sm">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>