#boditems{
    margin-bottom: 10px;
    /* margin-left: -20px */
}
#table{
    /* border-right: 1px solid #2196F3; */
    /* position: fixed; */
    overflow-y: scroll;
    max-height: 125px;
    min-height: 125px;
}
#textarea{
    max-height: 50px;
    min-height: 50px;
    resize: none
}