<!-- <div class="row"> -->
    <div class="col-md-12">
        <div class="row col-md-12">
              <h3>Main</h3>
              <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -45px; " />
        </div>
      <!-- </div> -->
    
        <div class="row col-md-12">
          <div id="item1" class="col-md-3">
            <div class="col-md-12">
                  <div id="boditems" class="row col-md-12 input-group">
                    <label class="control-label">Department</label>
                    <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"></select>
                  </div>
                  <div id="boditems" class="row col-md-12 input-group">
                    <label class="control-label">Project Category</label>
                    <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"></select>
                  </div>
                  <div id="boditems" class="row col-md-12 input-group">
                    <label class="control-label">Project Number</label>
                    <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                  </div>
                  <div id="boditems" class="row col-md-12 input-group">
                      <label class="control-label">Customer MapCode</label>
                      <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input">
                  </div>
                  <div id="boditems" class="row col-md-12 input-group">
                    <label class="control-label">Customer Centric Score</label>
                    <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid"></select>
                  </div>
                  <div id="boditems" class="row col-md-12 input-group">
                    <label class="control-label">Status</label>
                    <select type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" ></select>
                  </div>
                  <div id="boditems" class="row col-md-12 input-group">
                    <label class="control-label">Project Sponsor</label>
                    <select multiple type="text" class="form-control ng-untouched ng-pristine ng-valid" ></select>
                  </div>
            </div>
          </div>
    
          <div id="item1" class="col-md-3">
            <div class="col-md-12">
                <div id="boditems" class="row col-md-12 input-group">
                  <label class="control-label">Project Target Date</label>
                  <div class="input-group">
                    <input type="date" maxlength="100" class="form-control input-sm" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <div id="boditems" class="row col-md-12 input-group">
                  <label class="control-label">Tasks Completed</label>
                  <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                </div>
                <div id="boditems" class="row col-md-12 input-group">
                  <label class="control-label">Tasks in progress</label>
                  <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                </div>
                <div id="boditems" class="row col-md-12 input-group">
                  <label class="control-label">Upcoming Tasks</label>
                  <input type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"/>
                </div>
                <div id="boditems" class="row col-md-12 input-group">
                  <label class="control-label">Date Added</label>
                  <div class="input-group">
                      <input type="date" maxlength="100" class="form-control input-sm" />
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="col-md-12">
              <div id="item1"  class="row col-md-12 input-group">
                  <label class="control-label">Project Overview</label>
                  <textarea id="textarea" type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Input"></textarea>
              </div>
              <div class="row col-md-12 input-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label">Project Manager</label>
                    <select multiple type="text" class="form-control ng-untouched ng-pristine ng-valid" ></select>
                  </div>
                  <div class="col-md-6">
                    <label class="control-label">Project Stakeholder</label>
                    <select multiple type="text"  class="form-control ng-untouched ng-pristine ng-valid" ></select>
                  </div>
                </div>
              </div>
              <div  class="row col-md-12 input-group">
                  <div class="row">
                  <div class="col-md-6">
                    <label class="control-label">Start Date</label>
                    <div class="input-group">
                        <input type="date" maxlength="100" class="form-control input-sm" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                  </div>
                  </div>
                </div>
              <div class="row col-md-12 input-group">
                <div class="row">
                <div class="col-md-6">
                  <label class="control-label">End Date</label>
                  <div class="input-group">
                      <input type="date" maxlength="100" class="form-control input-sm" />
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Previous End Date</label>
                  <div class="input-group">
                      <input type="date" maxlength="100" class="form-control input-sm" />
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                </div>
              </div>
              <div id="boditems" class="row col-md-6 input-group">
                <div class="row">
                  <label class="col-md-6 control-label">End Date Changed</label>
                  <div class="col-md-1">
                      <input type="radio" maxlength="100" class="ng-untouched ng-pristine ng-valid" />
                  </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="col-md-9">
              <div class="col-md-12">
                  <div class="row col-md-12 input-group">
                      <label class="control-label">Comments</label>
                          <div id="table" class="table-responsive">
                            <table class="table table-bordered table-striped table-hover input-sm">
                              <thead>
                                <tr>
                                  <th class="col-md-2">Date Created</th>
                                  <th class="col-md-2">Full Name</th>
                                  <th class="col-md-8">Comment</th>
                                </tr>
                                <!-- style="width: 60%;"> -->
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <textarea id="comments" type="text" maxlength="100" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Add Comment"></textarea>
                  </div>
                  
                  
                  
              </div>
            </div>
            
        </div>
        <div class="row">
            <div id="buttons" class=" col-md-2 pull-right">
              <div id="buttongroup" class="col-md-10 input-group">
                <a id="searchbtn" (click)="save()" class="btn btn-primary btn-sm pull-right">Save&nbsp;<i class="fa fa-save"></i></a>
                <a href="#" id="btnGoBack" (click)="mainBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#dep_default"><i class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
              </div>
            </div>
          </div>
    
      <!-- </div> -->
    </div>